.NavBg{
  background-color: #FAE3B6;
}

.banner_img img{
  height: 60vh;
  width: 100%;
}

.banner_bg{
  background-color: #FAE3B6;
}
.footer_bg{
  background-color: #CFA485;
}
.newCollection_heading{
  text-align: center;
}